@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --main-color: rgb(224, 209, 143);
    --black: #030303;
    --bg: #030303;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

.imagem {
    opacity: 0.9;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #051A33;
}

section {
    padding: 4rem 7%;
}

.titulo {
    text-align: center;
    color: rgb(51, 49, 49);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.titulo span {
    color: #F8F8DD;
    text-transform: uppercase;
}

/* # */

.sm {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.9rem;
    color: #000000;
    background: #FFAB49;
    cursor: pointer;
}

.sm:hover {
    letter-spacing: .2rem;
}

.header {
    background: #000B19;
    display: flex;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navegacao a {
    margin: 0 2rem;
    font-size: 1.9rem;
    color: #fff;
}

.header .navegacao a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

#menu-sm {
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/banner.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .conteudo {
    max-width: 60rem;
}

.home .conteudo h3 {
    font-size: 8.5rem;
    text-transform: uppercase;
    color: #fff;
}

.home .conteudo p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.sobre {
    padding: 15rem;
}

.sobre .row {
    display: flex;
    align-items: center;
    background: #000B19;
    flex-wrap: wrap;
    border: var(--border);
}

.sobre .row .imagem {
    flex: 1 1 45rem;
}

.sobre .row .imagem img {
    width: 100%;
}

.sobre .row .conteudo {
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre .row .conteudo h3 {
    font-size: 3rem;
    color: #fff;
}

.sobre .row .conteudo p {
    font-size: 1.9rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/*CAIXINHAS*/

.box {
    border: var(--border);
}

/*PONTOS TURISTICOS*/

.pontos-turisticos .caixinhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.pontos-turisticos.caixinhas .box {
    border: var(--border);
}

.pontos-turisticos .caixinhas .box .imagem {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.pontos-turisticos .caixinhas .box .imagem img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.pontos-turisticos .caixinhas .box:hover .imagem img {
    transform: scale(1.2);
}

.pontos-turisticos .caixinhas .box .conteudo {
    padding: 2rem;
    background: #000B19;
    ;
}

.pontos-turisticos .caixinhas .box .conteudo .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.pontos-turisticos .caixinhas .box .conteudo .title:hover {
    color: var(--main-color);
}

.pontos-turisticos .caixinhas .box .conteudo span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.pontos-turisticos .caixinhas .box .conteudo p {
    font-size: 1.9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/*PRATOS TIPICOS*/

.pratos-tipicos .caixinhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.pratos-tipicos .caixinhas .box {
    border: var(--border);
}

.pratos-tipicos .caixinhas .box .imagem {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.pratos-tipicos .caixinhas .box .imagem img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.pratos-tipicos .caixinhas .box:hover .imagem img {
    transform: scale(1.2);
}

.pratos-tipicos .caixinhas .box .conteudo {
    padding: 2rem;
    background: #000B19;
}

.pratos-tipicos .caixinhas .box .conteudo .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.pratos-tipicos .caixinhas .box .conteudo .title:hover {
    color: var(--main-color);
}

.pratos-tipicos .caixinhas .box .conteudo span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.pratos-tipicos .caixinhas .box .conteudo p {
    font-size: 1.9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/*FESTAS POPULARES*/

.festas-populares .caixinhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.festas-populares .caixinhas .box {
    border: var(--border);
}

.festas-populares .caixinhas .box .imagem {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.festas-populares .caixinhas .box .imagem img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.festas-populares .caixinhas .box:hover .imagem img {
    transform: scale(1.2);
}

.festas-populares .caixinhas .box .conteudo {
    padding: 2rem;
    background: #000B19;
}

.festas-populares .caixinhas .box .conteudo .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.festas-populares .caixinhas .box .conteudo .title:hover {
    color: var(--main-color);
}

.festas-populares .caixinhas .box .conteudo span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.festas-populares .caixinhas .box .conteudo p {
    font-size: 1.9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/*ARTE MARANHNESE*/

.artes-maranhenses .caixinhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.artes-maranhenses.caixinhas .box {
    border: var(--border);
}

.artes-maranhenses .caixinhas .box .imagem {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.artes-maranhenses .caixinhas .box .imagem img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.artes-maranhenses .caixinhas .box:hover .imagem img {
    transform: scale(1.2);
}

.artes-maranhenses .caixinhas .box .conteudo {
    padding: 2rem;
    background: #000B19;
}

.artes-maranhenses .caixinhas .box .conteudo .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.artes-maranhenses .caixinhas .box .conteudo .title:hover {
    color: var(--main-color);
}

.artes-maranhenses .caixinhas .box .conteudo span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.artes-maranhenses .caixinhas .box .conteudo p {
    font-size: 1.9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/*PATRIMÔNIO HISTORICO*/

.patrimonio-historico .caixinhas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.patrimonio-historico .caixinhas .box {
    border: var(--border);
}

.patrimonio-historico .caixinhas .box .imagem {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.patrimonio-historico .caixinhas .box .imagem img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.patrimonio-historico .caixinhas .box:hover .imagem img {
    transform: scale(1.2);
}

.patrimonio-historico .caixinhas .box .conteudo {
    padding: 2rem;
    background: #000B19;
}

.patrimonio-historico .caixinhas .box .conteudo .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.patrimonio-historico .caixinhas .box .conteudo .title:hover {
    color: var(--main-color);
}

.patrimonio-historico .caixinhas .box .conteudo span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.patrimonio-historico .caixinhas .box .conteudo p {
    font-size: 1.9rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-sm {
        display: inline-block;
    }
    .header .navegacao {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navegacao.active {
        right: 0;
    }
    .header .navegacao a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        text-align: center;
    }
    .home .conteudo h3 {
        font-size: 4.5rem;
    }
    .home .conteudo p {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

/* Destaque */

.destaque {
    text-align: center;
    color: #ccc;
    font-size: 20px;
    padding: 3rem;
}

.listaDeDestaque-blog {
    text-align: left;
    padding-bottom: 2em;
    max-width: 815px;
    display: inline-block;
    white-space: normal;
}

.listaDeDestaque {
    overflow: hidden;
    white-space: nowrap;
}

.listaDeDestaque-item {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: none;
}

.listaDeDestaque-item:not(:target):first-child {
    display: inline-block;
}

.listaDeDestaque-item:target {
    display: inline-block;
}

.listaDeDestaque-blog-img {
    width: 100%;
    display: block;
}

.listaDeDestaque-item:nth-of-type(2) img {
    filter: sepia(.7)
}

.listaDeDestaque-item:nth-of-type(3) img {
    filter: hue-rotate(10deg) saturate(1)
}

.listaDeDestaque-blog-titulo {
    font-family: 'Montserrat', sans-serif;
    margin: .7em 0;
    font-size: 1.2em;
}

.listaDeDestaque-blog-link {
    color: #EB5757;
    font-weight: bold;
}

.listaDeDestaque-slider {
    width: 70%;
    margin: 0 auto;
}

.listaDeDestaque-slider li {
    display: inline-block;
}

.listaDeDestaque-slider-item {
    text-indent: -9999px;
    display: inline-block;
    overflow: hidden;
    background-color: #d4d4d4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 .5em;
    border: 0;
}

.listaDeDestaque-slider-item:hover, .listaDeDestaque-slider-item:focus {
    background-color: #a5a5a5;
    outline: 0;
}

.listaDeDestaque-slider-item--ativo {
    background: hsla(200, 70%, 0%, .6);
}

/* RODAPÉ */

.footer {
    background: var(--black);
    text-align: center;
}

.footer .copyright {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 3.5rem;
}

/*CONTATO.HTML*/

.contato .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contato .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contato .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contato .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contato .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contato .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contato .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.9rem;
    color: #fff;
    text-transform: none;
    background: none;
}
