@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --header-height: 3.5rem;

  --first-color: hsl(355, 70%, 54%);
  --first-color-alt: hsl(355, 66%, 50%);
  --title-color: hsl(355, 4%, 15%);
  --text-color: hsl(355, 4%, 35%);
  --text-color-light: hsl(355, 4%, 55%);
  --body-color: #fff;
  --container-color: #fff;

  --body-font: 'Poppins', sans-serif;

  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; 
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

body.dark-theme {
  --title-color: hsl(355, 4%, 95%);
  --text-color: hsl(355, 4%, 75%);
  --body-color: #051A33;
}

.dark-theme .nav__logo-img {
  display: none;
}

.dark-theme .nav__logo-white {
  display: block;
  width: 5rem;

}

.dark-theme .footer__logo-white{
  display: block;
  width: 7rem;
}

.dark-theme .footer__logo-img {
  display: none;
}


.dark-theme .scroll-header,
.dark-theme .nav__menu {
  box-shadow: 0 2px 4px hsla(0, 0%, 4%, .3);
}


.dark-theme .message__input {
  background-color: var(--body-color);
}

.dark-theme .message__button {
  background-color: var(--first-color);
}

.dark-theme .message__button:hover {
  background-color: var(--first-color-alt);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(355, 8%, 30%);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

/* HEADER */
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__close, 
.nav__toggle {
  color: var(--title-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
}

.nav__logo-img {
  width: 5rem;
}

.nav__logo-white{
  display: none;
}


.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
    transition: .4s;
  }
  
}

.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(30, 92, 206, 0.1);
}

.active-link {
  
  color: var(--first-color);
  font-weight: 700;
}


.home__container {
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}

.home__img {
  width: 150px;
  justify-self: center;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-0-5);
}

.home__description {
  font-size: var(--small-font-size);
  padding: 0 2rem;
  margin-bottom: var(--mb-2-5);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.8rem 2.5rem;
  font-weight: var(--font-medium);
  border-radius: 3rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.bumba__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}

.bumba__content {
  text-align: center;
}

.bumba__img {
  height: 80px;
  transition: .3s;
}

.bumba__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.bumba__description {
  font-size: var(--small-font-size);
}

.bumba__img:hover {
  transform: translateY(-.25rem);
}

.ma__container {
  row-gap: 1rem;
  padding: 2.5rem 2rem 0rem 6rem;
}

.ma__data {
  text-align: center;
}

.ma__title {
  margin-bottom: var(--mb-1-5);
}

.ma__description {
  margin-bottom: var(--mb-2-5);
}

.ma__img {
  width: 280px;
  justify-self: center;
}

.new__card {
  position: relative;
  width: 230px;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}

.new__overlay {
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}

.new__img {
  position: relative;
  width: 120px;
  margin-bottom: var(--mb-2);
  transition: .3s;
}

.new__price {
  font-size: var(--h2-font-size);
}

.new__title {
  font-weight: var(--font-medium);
}

.new__button {
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.new__icon {
  font-size: 1.25rem;
}

.new__card:hover .new__img {
  transform: translateY(-.5rem);
}

.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}


.footer {
  overflow: hidden;
}

.footer__container {
  position: relative;
  row-gap: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.footer__logo-img {
  width: 7rem;
}

.footer__logo-white {
  display: none;
}

.footer__description {
  font-size: var(--small-font-size);
}

.footer__logo, 
.footer__title {
  margin-bottom: var(--mb-1);
}

.footer__title {
  font-size: var(--h3-font-size);
}

.footer__links, 
.footer__aviables {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__aviable-img {
  width: 100px;
  cursor: pointer;
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.footer__img1 {
  position: absolute;
  width: 150px;
}
.footer__img1 {
  top: 25%;
  right: 2rem;
}
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}
.scrollup:hover {
  opacity: 1;
}
.scrollup__icon {
  font-size: 1.25rem;
  color: var(--first-color);
}
.show-scroll {
  bottom: 3rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(204, 52%, 78%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: hsl(224, 82%, 27%);
  border-radius: 1rem;
}


@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .bumba__container {
    gap: 1rem;
  }
  .gift__container {
    grid-template-columns: 150px;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) {
  .home__description {
    padding: 0 8rem;
  }
  .bumba__container {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
    gap: 2.5rem 3.5rem;
  }
  .ma__description {
    padding: 0 4rem;
  }
  .gift__container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 2rem;
  }
  .message__input,
  .message__button {
    width: 60%;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 10rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close, 
  .nav__img {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .dark-theme .nav__menu {
    box-shadow: none;
  }
  .home__container,
  .ma__container,
  .message__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__container {
    padding-top: 7.5rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__description {
    padding: 0;
  }
  .bumba__container {
    grid-template-columns: repeat(3, 142px);
    column-gap: 5rem;
  }
  .ma__data, 
  .ma__title {
    text-align: initial;
  }
  .ma__description {
    padding: 0;
  }
  .gift__container {
    grid-template-columns: repeat(3, 200px);
    gap: 2.5rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    column-gap: 1rem;
  }
  .home__img {
    width: 310px;
  }
  .home__description {
    padding-right: 8rem;
  }
  #br{
    display: none;
  }
  .bumba__container {
    column-gap: 8rem;
    padding-top: 2rem;
  }
  .bumba__img {
    height: 100px;
  }
  .ma__img {
    width: 280px;
  }
  .ma__description {
    padding-right: 7rem;
  }
  .galeria_de_fotos{
    padding: 12rem 0rem 0rem 0rem;
  }
  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__copy {
    margin-top: 3rem;
  }
  .footer__img1 {
    width: 170px;
  }
  .footer__img1 {
    top: 100%;
    left: 0;
  }
  .scrollup {
    right: 3rem;
  }
}


@media screen and (min-width: 0px) {
  .fotos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;

  }
  .ma__container{
    padding: 0;
  }
  .ma__img{
    width: 150px;
    margin: 2.5rem;
  }
  .button{
    padding: 0.3rem 1.4rem;
    font-size: 13px;
  }
  .section__title{
    font-size: 16px;
  }
  .ma__description{
    font-size: 15px;
  }
  .footer__title{
    font-size: 16px;
  }
  .footer__links, .footer__aviables{
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  .fotos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

  }
}


@media screen and (min-width: 600px) {
  .fotos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;

  }
  .ma__container{
    padding: 0rem 6rem 0rem 6rem;
  }
  .ma__img{
    width: 250px;
  }
  .button{
    padding: 0.5rem 1.5rem;
    font-size: 15px;
  }
  .section__title{
    font-size: 23px;
  }
  .ma__description{
    font-size: 15px;
  }
  .footer__title{
    font-size: 16px;
  }
  .footer__links, .footer__aviables{
    font-size: 15px;
  }
  .galeria_de_fotos{
    padding: 8rem 0rem 0rem 0rem;
  }
}



@media screen and (min-width: 1224px) {
  .fotos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 920px;

  }
  .ma__container{
    padding: 0rem 1rem 0rem 5rem;
  }
  .ma__img{
    width: 330px;
    margin: 0;
  }
  .button{
    padding: 0.8rem 2rem;
    font-size: 15px;
  }
  .section__title{
    font-size: 25px;
  }
  .ma__description{
    font-size: 16px;
  }
  .footer__title{
    font-size: 17px;
  }
  .footer__links, .footer__aviables{
    font-size: 15px;
  }
}
